@import "reset";
$font: "futura-pt",sans-serif;
$background: lighten(#ff33ff, 50%);
$highlight: darken(adjust-hue($background, 180deg), 60%);
$foreground: darken(mix($background, $highlight), 70%);
$border-size: 0.75rem / 2;
$border-color: mix($background, $highlight, 90%);

body {
  min-height: 100%;
  font-size: 100%;
  line-height: 1.5em;
  max-width: 960px;
  margin: 0 auto;
  font-family: $font;
  background: $background;
  color: $foreground;
}

a {
  color: $highlight;
  text-decoration: none;

  &:after {
    content: ' \01F517';
    font-size: 0.75em;
  }
}

.container {
  display: grid;
  min-height: 100%;
  grid-row-gap: 1.5em;
  margin: 0 0.75em;
  margin-bottom: 3rem;

  & > header {
    display: grid;
    grid-template-columns: auto 15em;
    align-items: center;
    h1 {
      font-size: 3rem;
      line-height: 1.5em;

    }
    h2 {
      font-size: 1.5rem;
    }
  }

  .body {
    display: grid;
    grid-row-gap: 1.5em;

  }

  .film-simple {
    display: grid;
    grid-template-columns: 8rem auto auto;
    grid-template-rows: auto auto;
    align-items: start;

    // & > * { border: 1px solid red;}

    .title {
      font-size: 1.5em;
      border-left: $border-size solid $border-color;
      padding-left: 0.75rem;
      grid-column: 2;
    }

    .date, .metadata {
      font-size: 0.75em;
      grid-column: 1;
      justify-self: end;
      margin-right: 0.75rem;
    }

    .date {
      grid-row: 1;
    }

    .metadata {
      grid-row: 2;
    }

    .positions {
      font-style: italic;
      border-left: $border-size solid $border-color;
      padding-left: 0.75rem;
      grid-column: 2;
      
    }
  }
}