extends base

block vars
    - var bodyclass = page.tags.first().name;

block body
    .post
      - var post_template = "_partials/" + get_post_template(page)
      != partial(post_template, {post: page})
      .post-matter
          ul
            li
              | Posted on&nbsp;
              = date(page.date, "YYYY MMM DD")
            li.right
              - var tags = page.tags.map(function(p) {
              - return "<a href=\"" + url_for(p.path) + "\">" + p.name + "</a>";
              - }).join(", ");
              != tags
