$blue0: #0E3063;
$blue1: #0F479B;
$blue2: #123C7B;
$blue3: #062045;
$blue4: #031329;

$pink0: #76064C;
$pink1: #B70173;
$pink2: #91095E;
$pink3: #520034;
$pink4: #30001E;

$green0: #668E08;
$green1: #9BDC01;
$green2: #7EAF0B;
$green3: #456300;
$green4: #293A00;

$orange0: #976208;
$orange1: #EB9402;
$orange2: #BA790B;
$orange3: #694200;
$orange4: #3E2700;
