@media (max-width: 768px) {
  .header > h1 > span {
    display: block;
    float: none;

    & > span {
      padding-left: 0;
    }

    span + span:before {
      content: " ";
    }

  }
  .index li {
    .date {
      display: block;
      float: none;
    }
  }

  .post .video-container {
    max-width: 620px;
    max-height: 240px;
  }
}
