@import "colors";
@import "highlight";

$phone: "(max-width: 768px)";

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -o-box-sizing: $type;
  -ms-box-sizing: $type;
  box-sizing: $type;
}

@mixin nav-url($color, $hover_color) {
  a {
    color: $hover_color;
    text-decoration: none;

    &:hover {
      color: $color;
    }
  }
}

@mixin set-color($color, $hover_color) {
  @include nav-url($color, $hover_color);
  h1, .post-matter { border-color: $hover_color; }
  h2 { color: #ffffff; }
  strong { font-family: "body"; font-size: 1.15rem;}
}

@mixin post-link($color) {
  border-color: $color;
  @include nav-url($color, #eaeaea);
}

* {
  @include box-sizing();
}

.right {
  float: right;
}

body {
  font-size: 100%;
  line-height: 1.5em;
  background: #090909;
  color: #eaeaea;
  max-width: 45em;
  margin: auto;
}

h1, h2, .header a {
  font-family: "body";
  text-decoration: none;
}

.header {
  h1 {
    font-size: 3rem;
    line-height: 1.5em;
    & > a { color: #eaeaea; &:hover { color: #fff; }}

    & > span {
      float: right;
      font-size: 1.5rem;

      span {
        padding-left: 1em;
      }
    }
  }

}

body, div, p, a, li {
  font-family: "header";
}

.code, span > span.code {
    @include set-color($blue0, $blue2);
}

.art, span > span.art {
    @include set-color($pink0, $pink2);
}

.make, span > span.make {
    @include set-color($green0, $green2);
}

.move, span > span.move {
    @include set-color($orange0, $orange2);
}

.accent {
  font-weight: normal;
}

.index {
  ul {
    margin: 0; padding: 0;
    margin-bottom: 3em;
  }

  li {
    font-family: "body";

    a {
      font-family: "body";
    }

    font-size: 1.5em;
    line-height: 1.5em;
    vertical-align: baseline;
    list-style: none;
    margin: 0;
    margin-bottom: 1px;
    padding-left: 1em;
    border-left: 10px solid;
    &.code {
      @include post-link($blue2);
    }
    &.art {
      @include post-link($pink2);
    }
    &.make {
      @include post-link($green2);
    }
    &.move {
      @include post-link($orange2);
    }
    .date {
      font-size: 0.75rem;
      vertical-align: middle;
      float: right;
    }
  }
}

@import "post";

.post-matter, .footer {
  ul, .footer_container {
    list-style: none;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    li, .footer_item {
      &.right {
        align-left: flex-end;
      }
    }
  }
}

.footer_item {
  font-family: "body";
  color: lighten(#090909, 15%);
  & > a {
    font-family: "body";
    text-decoration: none;
    color: lighten(#090909, 25%);
  }
}

@import "mobile";
