<!DOCTYPE html>
<html>
<head>
<title>Russell Hay CV Filmmaker in Seattle, WA</title>
  <link rel="stylesheet" href="/css/cv.css">
</head>
<body>
<header id="masthead">
  <h1 class="block">Russell Hay</h1>
  <h2 class="block">Cinematographer / Director / Writer</h2>
  <div class="details block">
    <span class="location">Seattle, WA</span>
    <span class="phone">(206) 201-1854</span>
    <span class="email">russell.hay - at - gmail</span>
  </div>
</header>
<section id="roles">
  <section class="roles">
      {{ range $index, $page := .Data.Pages.ByDate.Reverse }}
      {{ if $page.Title }}
        {{ if lt $page.Date.Year 2016 }}
          {{ $page.Render "simple" }}
        {{ else }}
          {{ $page.Render "extended" }}
        {{ end }}
      {{ end }}
      {{ end }}
  </section>
</section>
<section id="skills">
  <header>
    <h3 class="line-behind"><span>Special Skills</span></h3>
  </header>
  <ul class="skills">
    {{ range $.Site.Data.skills.skills }}
    <li class="skill">{{ .skill }}</li>
    {{ end }}
  </ul>
</section>
</body>

</html>
